.small-card {
  max-width: 300px;
  margin: 10px auto;
  text-align: center;

  img {
    max-height: 150px;
    object-fit: cover;
    width: 100%;
    border-radius: 8px;
  }

  ion-card-title {
    font-size: 1.2rem;
    font-weight: bold;
  }

  ion-card-subtitle {
    font-size: 0.9rem;
    color: var(--ion-color-medium);
  }
}
