<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Carrito </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Carrito</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="motos-grid">
    @if (carrito.length > 0) { @for (moto of carrito; track $index) {
    <app-moto-card [moto]="moto"></app-moto-card>
    } } @else {
    <p>No tienes motos en tu carrito</p>
    }
  </div>
</ion-content>
